<%% if resource.errors.any? -%>
<div id="errorExplanation">
  <h2><%%= "#{pluralize(resource.errors.count, "error")} prohibited this #{resource.class.name.titleize} from being saved:" %></h2>
  <ul>
    <%%- resource.errors.full_messages.each do |msg| -%>
    <li><%%= msg %></li>
    <%%- end -%>
  </ul>
</div>
<%% end -%>
