<p>Editing <%= singular_name.capitalize %></p>

Form will go here.

<% for attribute in attributes -%>
<p><b><%= attribute.human_name %></b>: {{<%= attribute.name %>}}</p>
<% end -%>

<a href="{{show_path}}">Back to record</a>
