<p>Listing {{#<%= plural_name %>}}</p>

<% for attribute in attributes -%>
<p><b><%= attribute.human_name %></b>: {{<%= attribute.name %>}}</p>
<% end -%>

{{/<%= plural_name %>}}


<p><a href="{{new_path}}">New</a></p>
