<p>Editing <%= singular_name.capitalize %></p>

{{{errors_display_div}}}

<hr />
{{{edit_form_tag}}}
<p><% for attribute in attributes -%>
{{{<%= attribute.name %>_label}}}: {{{<%= attribute.name %>_text_field}}}<br />
<% end -%></p>
  {{{form_submit}}}
</form>
<hr />
<a href="{{show_path}}">Back to record</a>
