<p>Listing <%= plural_name.capitalize %></p>

{{#listing}}

<p>
  <% attributes.collect do |attribute| -%>
  <b><%= attribute.human_name %></b>: {{<%= attribute.name %>}}
<% end.join(" | ") -%>
| <a href="{{show_path}}">Details</a></p>

{{/listing}}

<p><a href="{{new_path}}">New</a></p>
